@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {}
}


html {
  font-family: "JetBrains Mono", monospace;
}

header{
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
}

#login_btn{
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}

h1{
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
}

h2, button, label, span{
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
}

p, select{
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
}