@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {}
}



header{
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
}

#login_btn{
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}

h1{
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
}

h2, button{
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
}

p, label, span, select{
  font-family: "JetBrains Mono", monospace;
  font-weight: 300;
}