@tailwind base;
@tailwind components;
@tailwind utilities;

header{
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
}

#login_btn{
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
}